:root {
    --main-color: #622569;
    --secondary-color: #b8a9c9;
    --text-color: #e9e6f2;
    --background-color: #186961;
    --accent-color: hsl(302, 13%, 46%);

    --box-shadow-header: 0 4px 8px rgba(0, 0, 0, 0.2);
    --box-shadow-par:0 4px 8px rgba(0, 0, 0, 0.1);
    
    --font-size-large: 40px;
    --font-size-med: 20px;
    --font-size-small: 14px;
    
    --font-family-header: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family-par: Georgia, 'Times New Roman', Times, serif;
    
    --padding-large: 20px;
    --padding-med: 15px;
    --border-radius: 10px;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    line-height: 1.6;
    font-family: var(--font-family-par);
    color: var(--text-color);
}


header {
    background: linear-gradient(to right, #210b2d, #482139);
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--text-color);
    padding: var(--padding-med);
    width: 100%;
    box-shadow: var(--box-shadow-header);
}

h1 {
    font-family: var(--font-family-header);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: var(--padding-med);
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
    cursor: pointer;
}

nav ul li:focus {
    background-color: var(--accent-color);
    transform: scale(1.05);
}
nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

section {
    max-width: 900px;
    margin: 20px auto;
    padding: var(--padding-large);
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-par);
}



#about, #projects{
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}
#contact {
    background: rgba(255, 255, 255, 0.1);
    padding:var(--padding-large);
    text-align: center;
    margin-bottom: 100px;
  
}

form{

    padding: var(--padding-med);
    margin: 30px auto;
    max-width:500px;
    text-align:left;
    display: flex;
    flex-direction: column;

}

input,textarea
{
    font-family:var(--font-family-par);
    font-size: var(--font-size-med);
    border-color: black;
    border-radius: var(--border-radius);
    padding: var(--padding-med); 
    width:100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}


label
{
    font-family:var(--font-family-par);
    font-size: var(--font-size-med);
    display:block;
    text-align: left;
    margin-bottom: 5px;
    
}

button{
    max-width: 900px;
    margin: 20px auto;
    padding: var(--padding-med);
    background: var(--main-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-par);
    text-align: center;
    font-family: var(--font-family-par);
    font-size: var(--font-size-med);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}
button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
    cursor: pointer;
}
#formMessage{
    margin-top: 10px;
    font-size: 14px;
}
.success{
    color:green;
}
.error{
    color: red;
}
footer {
    background:var(--main-color);
    font-size: var(--font-size-small);
    color: var(--text-color);
    text-align: center;
    padding: var(--padding-med);
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    header {
        font-size: 30px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    section {
        padding: var(--padding-med);
        margin: 10px;
    }

    form {
        width: 90%;
        padding: var(--padding-med);
    }

    button {
        font-size: var(--font-size-small);
        padding: var(--padding-med);
    }
}

