:root {
    --main-color:#622569;
    --secondary-color: #b8a9c9;
    --text-color: #dfdce7;
    --background-color: #5b9aa0 ;
    --font-size-large: 40px;
    --font-size-med: 20px;
    --font-size-small:12px;
    --font-family-header: Verdana, Arial, Helvetica, sans-serif;
    --font-family-par: Georgia, 'Times New Roman', Times, serif;
    --padding-large: 20px;
    --padding-med: 10px;
    --border-radius: 20px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* General Styles */
body {
  
    margin: 0;
    padding: 0 0 60px;
    background-color: #f4f4f4;
    line-height: 1.6;
   
}

header {
    background-color: #333;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-large);
    color: var(--text-color);
    padding: var(--padding-large);
    width: 100%;
    z-index: 1000;
}
h1 
{
    font-family: var(--font-family-header);
    border-bottom: 5px solid  rgba(0, 0, 0, 0.247) 
}
nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin:10px;
    list-style: none;
   
}

nav ul li {
    border-radius: var(--border-radius);
    width:100% ;
    display: inline-block;
    margin-right: 20px;
}
nav ul li:hover{
 
    text-decoration: underline var(--secondary-color);
    cursor: pointer;
}
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

section {
    font-family: var(--font-family-par);
    font-size: var(--font-size-med);
    color: var(--text-color);
    padding: var(--padding-large);
    margin: var(--padding-med);
    box-shadow:var(--box-shadow);
    border-radius: var(--border-radius);
    
}
#about
{
   
    background-color: #7e4a3591;
    text-align:  center;

}
#projects 
{
    background-color: #7e4a3591;
    text-align:  center;

}
#contact
{
    background-color: #7e4a3591;
    text-align:  center;
    margin-bottom: 20px;
}
footer {
    background-color: #333;
    font-size: 10px;
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 768px) {
    header{
        font-size: 30px;
        padding: var(--padding-med);
    
    }
    nav ul{
        flex-direction: column;

    }
    nav ul li {
      
        margin: 5px 0;
        width:100%;

    }

    section {
        padding: var(--padding-med);
        margin: 10px;
    }
    footer{
        padding:var(--padding-med);
       
    }
}
